<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap = "tests/bootstrap.php"
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    verbose                     = "true"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    defaultTestSuite            = "Unit"
    stopOnFailure               = "false">
	<testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
